.at-tabs__header {
  position: fixed;
  z-index: 10;
}

.at-tabs__body {
  margin-top: 94px;
}

.at-tabs__underline {
  display: none;
}

.index {
  .thread {
    position: relative;
    margin: 0 32px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 35%;
      right: 35%;
      height: 0.5px;
      background-color: #f0f0f0;
    }

    // &:last-child:after {
    //   background-color: transparent;
    // }
  }
}
